body {
    background-color: #ededed;
}
section{
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80) center/cover no-repeat;
}

section a:link, a:visited {
    background-color: #f8f2f23a;
    color: rgba(2, 2, 2, 0.514);
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.548);
    font-size: 23px;
  }
  section div{
      text-align: center;
  }